body
{
background:url(images/bg.png) no-repeat #fff center top;
padding:0;
font-family:Trebuchet MS, Helvetica, sans-serif;
font-size:11px;
margin:0px auto auto auto;
color:#000;
}
p{
padding:2px;
margin:0px;
}
#main_container{
width:1000px;
height:auto;
margin:auto;
padding:0px;
}
.top_bar{
width:1000px;
/*height:38px;*/
}
.top_search{
width:370px;
height:32px;
margin:0px 20px 0 0;
_margin:0px 10px 0 0;
float:right;
background:url(images/top_search_bg.gif) no-repeat center;
}
input.search_input{
width:182px;
height:18px;
float:left;
margin:5px 0 0 0 ;
border:1px solid #dbdbdb;
border-bottom-color:#ffffff;
border-right-color:#ffffff;
}
.search_text{
float:left;
width:110px;
padding:8px 0 0 15px;
color:#999999;
}
.search_text a{
text-decoration:none;
color:#999999;
}
.search_bt{
float:left;
padding:2px 0 0 15px;
}
.languages{
float:right;
width:150px;
padding:8px 0 0 0;
}
.lang_text{
float:left;
padding:0 5px 0 0;
color:#b3adad;
}
a.lang{
display:block;
float:left;
padding:0 5px 0 5px;
}
#header{
width:1000px;
height:173px;
/*background:url(images/header_bg.jpg) no-repeat center;*/
background-position:0px 0px;
margin:auto;
}
#logo{
float:left;

}
/*------------------------------oferte_content-----------------------*/
.oferte_content{
width:600px;
height:164px;
float:left;
padding:0 0 0 50px;
}
.top_divider{
float:left;
width:1px;
height:164px;
}
.oferta{
}
.oferta_img{
float:left;
padding:0 0 10px 0;
}
.oferta_title{
font-size:15px;
color:#b72c24;
font-weight:bold;
}
.oferta_details{
width:400px;
float:left;
padding:0 0 0 30px;
}
.oferta_text{
padding:5px 0 5px 0;
font-size:12px;
color:#FFFFFF;
text-align:justify;
line-height:15px;
}
a.details{
width:83px;
height:21px;
display:block;
float:right;
margin:5px 0 0 0;
padding-left:5px;
background:url(images/details_bt_bg.gif) no-repeat center;
text-align:center;
line-height:21px;
text-decoration:none;
color:#000000;
}
/*---------------------oferta_pagination-----------------------------*/

div.oferta_pagination {
clear:both;
padding:10px 0 0 0;
_padding:0px 0 0 0;
margin:5px;
text-align:center;
float:left;
font-size:10px;
}

div.oferta_pagination a {
width:22px;
height:22px;
display:block;
float:left;
margin:0 0 0 5px;
_margin:0 0 0 3px;
line-height:23px;
text-align:center;
background:url(images/pag_bg.gif) no-repeat center;
text-decoration:none; 
color:#9d8b8b;
}
div.oferta_pagination a:hover, div.pagination a:active {
width:22px;
height:22px;
display:block;
float:left;
line-height:23px;
text-align:center;
background:url(images/pag_bg_a.gif) no-repeat center;
text-decoration:none; 
color:#ad1614;
}
div.oferta_pagination span.current {
width:22px;
height:22px;
display:block;
float:left;
line-height:23px;
text-align:center;
background:url(images/pag_bg_a.gif) no-repeat center;
text-decoration:none; 
color:#ad1614;
}
#main_content{
clear:both;
}
/*---------------- menu tab----------------------*/
#menu_tab{
width:1000px;
height:56px;
background-color:#fff;
}
.left_menu_corner{
width:9px;
height:50px;
float:left;
background:url(images/menu_left.gif) no-repeat center;
}
.right_menu_corner{
width:9px;
height:50px;
float:left;
background:url(images/menu_right.gif) no-repeat center;
}
ul.menu {
list-style-type:none; float:left; display:block; width:982px; 
margin:0px; padding:0px;background:url(images/menu_bg.gif) repeat-x;}

ul.menu li {
display:inline;
font-size:11px;
font-weight:bold;
line-height:50px;
}
ul.menu li.divider {
display:inline;
width:2px;
height:50px;
float:left;
background:url(images/menu_divider.gif) no-repeat center;
}

a.nav1:link, a.nav1:visited {
display:block;
float:left;
padding:0px 8px 0px 22px;
margin:0 14px 0 14px;
height:50px;
text-decoration:none;
background:url(images/home.png) no-repeat left;
color:#EA2222;

}
a.nav2:link, a.nav2:visited {
display:block; 
float:left; 
padding:0px 8px 0px 22px; 
margin:0 14px 0 14px;
height:50px;
text-decoration:none; 
background:url(images/services.png) no-repeat left; 
color:#676d77;
}
a.nav3:link, a.nav3:visited {
display:block; float:right; padding:0px 8px 0px 22px; margin:0 14px 0 14px;height:50px;text-decoration:none; background:url(images/favs.png) no-repeat left; color:#676d77;}

a.nav5:link, a.nav5:visited {
display:block; float:left; padding:0px 8px 0px 22px; margin:0 14px 0 14px;height:50px;text-decoration:none; background:url(images/car.png) no-repeat left; color:#676d77;}
a.nav6:link, a.nav6:visited {
display:block; float:left; padding:0px 8px 0px 22px; margin:0 14px 0 14px;height:50px;text-decoration:none; background:url(images/contact-new.png) no-repeat left; color:#676d77;}

a.nav1:hover, a.nav2:hover, a.nav3:hover, a.nav4:hover, a.nav5:hover, a.nav6:hover {
color:#333333;}

a.nav4{
display:block; float:right; padding:0px 8px 0px 22px; margin:0 14px 0 14px;height:50px;text-decoration:none; background:url(images/user_add.png) no-repeat left; color:#676d77;}

li.currencies{
width:180px;
float:left;
padding:0 0 0 15px;
_padding:12px 0 0 15px;
color:#676d77;
font-size:11px;
font-weight:bold;
}
/*----------------crumb_navigation-------------*/
.crumb_navigation{
width:980px;
height: 19px;
padding:5px 10px 0 20px;
color:#333333;
background:url(images/navbullet.png) no-repeat left;
background-position:5px 6px;
}
.crumb_navigation a{
color:#0fa0dd;
text-decoration:underline;
}
span.current{
color:#0fa0dd;
}

/*-------------left_content------------------*/
.left_content{
width:250px;
float:left;
}
.title_box{
width:245px;
height:30px;
margin:5px 0 0 0;
background:url(images/menu_title_bg.png) no-repeat center;
text-align:center;
font-size:13px;
font-weight:bold;
color:#fff;
line-height:30px;
}
/*--------left menu---------*/
ul.left_menu{
width:196px;
padding:0px;
margin:0px;
list-style:none;
}
ul.left_menu li{
margin:0px;
list-style:none;
}
ul.left_menu li.odd a{
width:214px;
height:35px;
display:block;
background:url(images/checked.png) no-repeat left #dad0d0; 
background-position:5px 5px;
border-bottom:1px #FFFFFF solid;
text-decoration:none;
color:#504b4b;
padding:0 0 0 30px; 
line-height:25px;
}
ul.left_menu li.even a{
width:214px;
height:35px;
display:block;
background:url(images/checked.png) no-repeat left #eee6e6;
background-position:5px 5px;
border-bottom:1px #FFFFFF solid;
text-decoration:none;
color:#504b4b;
padding:0 0 0 30px; 
line-height:25px;
}
ul.left_menu li.even a:hover, ul.left_menu li.odd a:hover{
background:url(images/checked.png) no-repeat left #7bbcc7; color:#FFFFFF;background-position:5px 5px;
}

.border_box{
width:242px;
height:auto;
text-align:center;
border: 1px solid orange;
}
.product_title{
color:#ea2222;
padding:5px 0 5px 0;
font-weight:bold;
}
.product_title a{
text-decoration:none;
color:#ea2222;
padding:5px 0 5px 0;
font-weight:bold;
}
.product_title a:hover{
color:#064E5A;
}
.product_img{
padding:5px 0 5px 0;
}
.prod_price{
padding:5px 0 5px 0;
}
span.reduce{
color:#999999;
text-decoration:line-through;
}
span.price{
color:#ea2222;
}
/*----------newsletter--------------*/
input.newsletter_input{
width:160px;
height:16px;
border:1px #ddd9d9 solid;
margin:10px 0 5px 0;
font-size:12px;
padding:3px;
color:#999999;
}
a.join{
width:17px;
display:block;
margin:5px 0 5px 140px;
_margin:5px 0 5px 130px;
background:url(images/blue-add.png) no-repeat left;
padding:0 0 0 20px;
text-decoration:none;
color:#1c4a52;
}
.banner_adds{
width:194px;
text-align:center;
padding:10px 0 10px 0;
}

/*center content--------------------------*/
.center_content{
width:730px;
float:left;
padding:5px 10px;
}
.center_title_bar{
width:690px;
height:33px;
float:left;
padding:0 0 0 40px;
margin:0 0 0 12px;
_margin:0 0 0 6px;
line-height:33px;
font-size:12px;
color:#847676;
font-weight:bold;
background:url(images/bar_bg.png) no-repeat center;
}

/*----------------------right content--------------*/
.right_content{
width:196px;
float:left;
padding:5px 0 0 0;
}
.shopping_cart{
width:195px;
text-align:center;
background:url(images/cart_bg.gif) center;
}
.cart_title{
font-size:12px;
font-size:12px;
color:#847676;
font-weight:bold;
padding:8px 0 0 0;
}
.cart_details{
width:115px;
float:left;
padding:5px 0 0 15px;
text-align:left;
}
.cart_icon{
float:left;
padding:5px 0 0 5px;
}
span.border_cart{
width:100px;
height:1px;
margin:3px 0 3px 0;
display:block;
border-top:1px #999999 dashed;
}
/*---------prod_box----------*/
.prod_box{
width:222px;
height:auto;
float:left;
padding:10px 10px 10px 11px;
}
.top_prod_box{
width:220px;height:12px;background:url(images/product_box_top.png) no-repeat center bottom;float:left; padding:0px; margin:0px;
}
.bottom_prod_box{
width:220px;height:10px;background:url(images/product_box_bottom.png) no-repeat center top;float:left;padding:0px; margin:0px;
}
.center_prod_box{
width:220px;height: auto;background:url(images/product_box_center.png) repeat-y;float:left; text-align:center;padding:0px; margin:0px;
}
.prod_details_tab{
width:220px;
height:31px;
float:left;
background:url(images/products_details_bg.png) no-repeat center;
margin:3px 0 0 0;
}
img.left_bt{
float:left;
padding:6px 0 0 6px;
}
a.prod_details{
width:80px;
display:block;
float:left;
background:url(images/square-blue-add.gif) no-repeat left;
padding:0 0 0 20px;
margin: 7px 0 0 81px;
_margin:6px 0 0 35px;
text-decoration:none;
color:red;
}
/*---------prod_box_big----------*/
.prod_box_big{
width:554px;
height:auto;
float:left;
padding:10px 10px 10px 15px;
}
.top_prod_box_big{
width:721px;
height:12px;
background:url(images/details_box_top.png) no-repeat center bottom;
float:left; 
padding:0px; 
margin:0px;
}
.bottom_prod_box_big{
width:720px;
height:12px;
background:url(images/details_box_bottom.png) no-repeat center top;
float:left;
padding:0px; 
margin:0px;
}
.center_prod_box_big{
width:720px;
height: auto;
background:url(images/details_box_center.png) repeat-y;float:left; 
/*text-align:center;*/
padding:0px; margin:0px;
}
.left_prod_box_big{
width:800px;
height: auto;
background:url(images/details_box_center.gif) repeat-y;float:center; 
/*text-align:center;*/
padding:0px; margin:0px;
}
.product_img_big{
width:170px;
padding:5px 0 5px 10px;
float:left;
}
.details_big_boxa {
    float: right;
    margin: 0 0 0 291px;
    padding: 0 0 0 15px;
    position: absolute;
    text-align: left;
    width: 234px;
}
.details_big_box{
width:345px;
float:left;
padding:0 0 0 15px;
text-align:left;
}
.product_title_biga {
    color: #EA2222;
    font-size: 14px;
    font-weight: bold;
    padding: 11px 0;
	}
.product_title_big{
color:#ea2222;
padding:5px 0 5px 0;
font-weight:bold;
font-size:14px;
}
.specifications{
font-size:12px;
font-weight:bold;
line-height:18px;
}
.thumbs{
padding:8px 5px 8px 5px;
border:1px #DFD1D1 solid;
margin:3px 0 0 0;
}
.thumbs a{
padding:3px;
}
.prod_price_big{
padding:5px 0 5px 0;
font-size:16px;
}
span.reduce{
color:#999999;
text-decoration:line-through;
}
span.price{
color:#ea2222;
}
a.addtocart{
width:76px;
height:27px;
display:block;
float:left;
background:url(images/addtocart.gif) no-repeat left;
padding: 0 0 0 42px;
text-decoration:none;
line-height:27px;
color:#1c4a52;
}
a.compare{
width:76px;
height:27px;
display:block;
float:left;
margin:0 0 0 10px;
background:url(images/compare.gif) no-repeat left;
padding:0 0 0 33px;
text-decoration:none;
line-height:27px;
color:#1c4a52;
}
span.blue{
color:#5F9FAB;
font-size:13px;


}
/*---------------contact_form------------------*/
.contact_form{
float: left;
margin: 13px 0 0 126px;
padding: 0 0 0 75px;
width: 355px;
}
.form_row{
width:335px;
clear:both;
padding:10px 0 10px 0;
_padding:5px 0 5px 0;
color:#a53d17;
margin: 0 0 0 60px;
}
#form_row1a{
width:475px;
clear:both;
padding:10px 0 10px 0;
_padding:5px 0 5px 0;
color: #5F9FAB;
}
#form_row1{
width:335px;
clear:both;
padding:10px 0 10px 0;
_padding:5px 0 5px 0;
color: #5F9FAB;
}
	#form_row1 select{
	height: 34px;
	width: 310px;
	font-family:Trebuchet MS, Helvetica, sans-serif;
	}
	#form_row1 input{
	height: 25px;
	width: 303px;
	font-family:Trebuchet MS, Helvetica, sans-serif;
	}
	
label.contacts{
color: #333333;
float: left;
padding: 4px 5px 0 0;
position: absolute;
width: 75px;
font-size: 18px;
margin: 7px -43px 0;
}
label.contact{
width:75px;
float:left;
font-size:12px;
text-align:right;
padding:4px 5px 0 0;
color: #333333;
}
select.contact_input {
height: 34px;
width: 310px;
font-family:Arial, Helvetica, sans-serif;
}
input.contact_input{
height: 25px;
width: 303px;
font-family:Arial, Helvetica, sans-serif;
}
textarea.contact_textarea{
width:253px;
height:50px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color: #999999;
background-color:#fff;
border:1px #DFDFDF solid;
float:left;
}
a.contact{
width:99px;
height:27px;
display:block;
float:right;
margin:0 0 0 10px;
background:url(images/contact_bt.gif) no-repeat left;
padding:0 0 0 10px;
text-decoration:none;
line-height:27px;
color:#1c4a52;
}
/*--------------footer----------------*/
.footer{
width:1000px;
clear:both;
height:65px;
background:url(images/footer_bg.gif) repeat-x top;
}
.left_footer{
float:left;
width:300px;
padding:5px 0 0 10px;
}
.right_footer{
float:right;
padding:15px 30px 0 0;
}
.right_footer a{
padding:0 0 0 7px;
text-decoration:none;
color: #666666;
}
.right_footer a:hover{
text-decoration:underline;
}

.center_footer{
float:left;
width:200px;
text-align:center;
color:#666666;
padding:10px 0 0 60px;
}
.bid_box{
width: 339px;
height:auto;
}
.bid_border_box{
height:auto;
border:1px #6da6b1 solid;
font-size: 12px;
font-weight: bold;
text-align: center;
}
.popbox{
	border: 1px solid #6DA6B1;
    font-size: 12px;
    font-weight: bold;
    margin: 50px 0 0 201px;
    position: absolute;
    width: 271px;
	height: 202px;
	border-top: 0px;
	border-right: 0px;
}
.ab {
	border: 1px solid #6DA6B1;
	float: right;
    height: 18px;
    width: 214px;
	border-top:0px;
	border-right:0px;
}
.ac {
	border: 1px solid #6DA6B1;
	float: right;
    height: 181px;
    width: 310px;
	border-top:0px;
	border-bottom:0px;
}
.border_box_log{
	border: 1px solid #6DA6B1;
    height: auto;
    text-align: center;
    width: 194px;
}
.logreg{
	margin: 0 0 0 129px;
}
.loginb{
	float: left;
    height: auto;
    padding: 10px 10px 10px 11px;
    width: 173px;
}
.loginc{
	float: center;
    height: auto;
    padding: 10px 10px 10px 11px;
    width: 500px;
}
.regb{
	float: left;
    height: auto;
    padding: 10px 10px 10px 11px;
    width: 173px;
}#regstep1{
	width:335px;
	clear:both;
	padding:10px 0 10px 0;
	_padding:5px 0 5px 0;
	color: #5F9FAB;
}
	#regstep1 select{
	height: 34px;
	width: 310px;
	font-family:Arial, Helvetica, sans-serif;
	}
	#regstep1 input{
	height: 25px;
	width: 303px;
	font-family:Arial, Helvetica, sans-serif;
	}
.reg_form {
    float: left;
    margin: 13px 0 0 130px;
    padding: 0 0 0 75px;
    width: 355px;
}
.welc {
	color: #EA2222;
    font-size: 21px;
    font-weight: bold;
    padding: 5px 0;
    width: 720px;
}

.welcsub {
	color: #EA2222;
    font-size: 13px;
    padding: 5px 0;
    width: 720px;
}